body {
  font: 16px/20px "Microsoft YaHei", Lyh-Regular, helvetica, arial, sans-serif;
  margin: 0px;
  min-width: 870px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
}

.main {
  margin-top: 55px;
  padding: 5px;
  background-color: #EDEDED;
}

.movie {
  background: #FFFFFF;
  min-height: 250px;
  margin: auto;
  padding: 10px;
}

.cover {
  margin-top: 15px;
  margin-left: 15px;
  width: 135px;
  height: 200.5px;
  float: left;
  overflow: hidden;
}

.cover img {
  width: 100%;
  height: 100%;
}

.rating {
  float: right;
  margin-top: 80px;
  margin-right: 40px;
  text-align: center;
}

.rating_text {
  font-size: 16px;
  color: #505050;
}

.rating_num {
  font-size: 20px;
  color: #BE5B42;
}

.rating_star {
  width: 150px;
  height: 30px;
  background: url(../images/rating.png);
  background-position: 0px 300px;
}

.details {
  margin-left: 170px;
  margin-right: 200px;
}

.details .item {
  color: #686868;
}

.title {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 30px;
  color: #81685A;
}

.year {
  font-size: 18px;
  color: #808080;
}

.item {
  margin-left: 15px;
  margin-top: 5px;
}

.item a {
  color: #3967C5;
}

.comments {
  background: #FFFFFF;
  margin: auto;
}

.comments_header {
  margin: 30px 40px;
  font-size: 28px;
  color: #866D5F;
}

.comment_item {
  min-height: 60px;
  padding-bottom: 10px;
}

.comment_item:not(:last-child):after {
  content: '';
  display: block;
  width: 94%;
  height: 1px;
  margin: auto;
  background: #9B9B9B;
  transform: scaleY(0.5);
}

.avatar {
  width: 48px;
  height: 48px;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

.avatar img {
  border-radius: 5px;
  box-shadow: 0px 0px 8px 1px #A0A0A0;
}

.comment_main {
  margin-left: 75px;
  padding-top: 5px;
  min-height: 70px;
}

.comment_head {
  font-size: 20px;
  margin-top: 10px;
  color: #693F3F;
  padding-bottom: 10px;
}

.comment_rating {
  font-size: 12px;
  background: #CC543A;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 2px 4px;
  opacity: 0.9
}

.comment_time {
  font-size: 14px;
  color: #898989;
  margin-left: 15px;
}

.comment_text {
  width: 90%;
  font-size: 14px;
  margin: 20px auto 20px 30px;
  color: #686868;
}

.loadmore {
  box-shadow: 0px 0px 8px 3px #D1D1D1;
  width: 30%;
  height: 40px;
  margin: 40px auto;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  background: #CC543A;
  color: #FFFFFF;
  border-radius: 10px;
}

.loadmore:hover {
  cursor: pointer;
}

.short {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.review_title {
  font-size: 18px;
  margin: 10px 0px;
  color: #BE5B42;
}

.indent {
  text-indent: 28px;
}

.extend_btn {
  display: inline;
  margin-left: 20px;
  text-decoration: none;
  color: #2C73D2;
}

.extend_btn:hover {
  cursor: pointer;
}

.review_hide {
  display: none;
}

.review_summary {
  margin-bottom: 20px;
}

.review_content {
  margin-bottom: 20px;
}

.recommend {
  background: #FFFFFF;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

.recommend_item {
  width: 135px;
  height: 200.5px;
  background: #42D727;
  margin: 15px;
}

.main_sub {
  margin-top: 40px;
  margin-bottom: 15px;
  overflow: hidden;
  width: 80%;
  box-shadow: 0px 0px 8px 1px #e4e5e6;
}

/*navigation bar*/

header {
  position: relative;
}

nav {
  width: 100%;
  background-color: #8B7264;
  opacity: 0.9;
  position: fixed;
  top: 0px;
  color: #ffffff;
  display: flex;
  z-index: 1;
  min-width: 810px;
}

nav span {
  padding: 5px;
}

nav a:link {
  color: #ffffff;
  text-decoration: none;
}

nav a:visited {
  color: #ffffff;
}

.nav_bar {
  width: 1000px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#search {
  width: 300px;
  height: 36px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  outline: none;
  border-style: none;
  font-size: 16px;
  padding-left: 18px;
  margin: 0px;
}

#search_btn {
  background-color: #CC543A;
  width: 50px;
  height: 36px;
  padding: 10px 20px 9px 10px;
  margin-left: -6px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  color: #ffffff;
}

.logo {
  font-style: italic;
  font-size: 24px;
  margin: 10px;
}

#search_btn:hover, #homepage:hover, #classify:hover, #login:hover, #sign_up:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*recommended movies*/

.brief, .brief_introduction {
  width: 180px;
}

.brief img {
  width: 100%;
  height: 250px;
}

.movie_list {
  background-color: #ffffff;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  padding: 10px 25px;
}

.small_font {
  font-size: 14px;
  color: #9b9999;
}

.movie_recommend {
  width: 150px;
  position: relative;
  margin: 20px 25px;
}

.detail {
  width: 220px;
  height: 300px;
  visibility: hidden;
  position: absolute;
  top: -20px;
  left: -20px;
  box-shadow: 0px 5px 50px;
  border-radius: 5px;
}

.detail_card {
  position: absolute;
  top: 150px;
  width: 100%;
  padding: 10px;
  height: 150px;
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.detail img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.movie_recommend a:link {
  color: #000000;
  text-decoration: none;
}

.movie_recommend a:visited {
  color: #000000;
}

.movie_recommend a:hover {
  color: #CC543A;
}

.name {
  font-size: 16px;
}

.name:hover {
  cursor: pointer;
}

.score {
  color: #CC543A;
}

.brief:hover .detail {
  cursor: default;
  visibility: visible;
}

.subjects {
  margin-top: 12px;
}

.title_recommend {
  font-size: 14px;
}

.icons {
  color: #9b9999;
  display: flex;
  width: 100%;
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
}

.icons i {
  flex-grow: 1;
  margin-left: 30px;
}

.icons i:hover {
  cursor: pointer;
  color: #CC543A;
}

.recommends {
  font-size: 28px;
  color: #866D5F;
  background-color: #ffffff;
  width: 80%;
  margin: 20px auto 0px auto;
  padding: 30px 0px 0px 40px;
}

.top {
  position: fixed;
  font-size: 48px;
  bottom: 10px;
  right: 30px;
  color: #8B7264;
}