body {
  font: 12px/20px "Microsoft YaHei", Lyh-Regular, helvetica, arial, sans-serif;
}
* {
  box-sizing: border-box;
}
.main {
  margin-top: 80px;
  padding-top: 5px;
  background-color: #EDEDED;
}
.movie {
  background: #FFFFFF;
  height: 230px;
  margin: auto;
}
.cover {
  margin-top: 15px;
  margin-left: 15px;
  width: 135px;
  height: 200.5px;
  float: left;
  overflow: hidden;
}
.cover img {
  width: 100%;
  height: 100%;
}
.details {
  margin-left: 170px;
}
.title {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 28px;
  color: #0FBDEF;
}
.year {
  font-size: 18px;
  color: #808080;
}
.item {
  margin-left: 15px;
  margin-top: 5px;
}
.comments {
  background: #FFFFFF;
  margin: auto;
}
.comment_item {
  max-height: 80px;
  overflow: hidden;
}
.recommend {
  background: #FFFFFF;
  margin: auto;
}
.recommend_item {
  width: 135px;
  height: 200.5px;
  display: inline-block;
}
.main_sub {
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  width: 80%;
  box-shadow: 0px 0px 8px 1px #e4e5e6;
}