* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

header {
  position: relative;
}

/*the layout of nav bar*/

nav {
  width: 100%;
  background-color: #8B7264;
  opacity: 0.9;
  position: fixed;
  top: 0px;
  color: #ffffff;
  display: flex;
  z-index: 1;
}

nav span {
  padding: 5px;
}

.nav_bar {
  width: 1000px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#search {
  width: 300px;
  height: 36px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  outline: none;
  border-style: none;
  font-size: 16px;
  padding-left: 18px;
  margin: 0px;
}

#search_btn {
  background-color: #CC543A;
  width: 50px;
  height: 36px;
  padding: 7px 20px 7px 10px;
  margin-left: -6px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  color: #ffffff;
}

.logo {
  font-style: italic;
  font-size: 24px;
  margin: 10px;
}

#search_btn:hover, #homepage:hover, #classify:hover, #login:hover, #sign_up:hover {
  opacity: 0.8;
  cursor: pointer;
}

.big_poster {
  width: 100%;
}

main {
  width: 1000px;
  margin: 0px auto;
  position: relative;
}

/*the layout of classification bar*/

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.classification {
  margin: 0px auto;
  padding: 5px;
  position: sticky;
  top: 57px;
  opacity: 0.95;
  z-index: 1;
  background: linear-gradient(to right, #ffffff, #efebe8, #efebe8, #efebe8, #ffffff);
}

.subject {
  padding: 5px 15px;
  border-radius: 3px;
  color: #686868;
}

.subject:hover {
  cursor: pointer;
  background-color: #CDCABE;
  color: #ffffff;
}

.movie_list img {
  width: 100%;
}

.movie_list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 20px;
}

.small_font {
  font-size: 12px;
  color: #9b9999;
}

/*the layout of the single movie card*/

.movie {
  width: 150px;
  position: relative;
  margin: 20px;
}

.detail {
  width: 200px;
  height: 300px;
  visibility: hidden;
  position: absolute;
  top: -20px;
  left: -20px;
  box-shadow: 0px 5px 50px;
  border-radius: 5px;
}

.detail_card {
  position: relative;
  top: -150px;
  padding: 10px;
  height: 150px;
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.detail img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.name {
  font-size: 18px;
}

.name:hover {
  cursor: pointer;
}

.score {
  color: #CC543A;
}

.movie:hover .detail {
  cursor: default;
  visibility: visible;
}

.title {
  font-size: 12px;
}

.icons {
  color: #9b9999;
  display: flex;
  width: 100%;
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
}

.icons i {
  flex-grow: 1;
  margin-left: 30px;
}

.icons i:hover {
  cursor: pointer;
}

/*back to top button*/

.top {
  position: fixed;
  font-size: 48px;
  bottom: 10px;
  right: 30px;
  color: #8B7264;
}

.top:hover {
  cursor: pointer;
  opacity: 0.8;
}